.mar{border: 2px solid;
    border-radius: 10px;
    margin: 50px auto;
    width: 360px;
    padding: 20px
    
}
.mar{
    color: blue;
    background-image: url(sun.jpg);
}
.su{
    color: chocolate;
}
.mar{
    bottom: auto;
}